@import 'base/fonts';
@import 'base/buttons';

* {
    font-family: Raleway;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


@import 'block/header';
@import 'block/welcome';
@import 'block/features';
@import 'block/other';
@import 'block/customer';
@import 'block/resourse';
@import 'block/price';
@import 'block/subscribe';
@import 'block/basement';